# .env.example file for Less Wild West project
# Application Settings
NODE_ENV=production
BASE_URL=http:stepankiw.com

# Security Settings
SESSION_SECRET=123456789abcdef0123456789abcdef
PORT=3000

# Email Settings (Gmail) - These are optional for testing
GMAIL_USER=cstepnq11@gmail.com
GMAIL_APP_PASSWORD=1234abcd!A

